<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./public/cake.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Cakes</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./public/confectionary.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Confectionary</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./public/gifts.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Gifts</h5>
      </div>
    </div>
  </div>