// Code
//
// Bootstrap tweaks

.jumbotron {
  padding-top: 100px;
}

//color
.bg-gradient{
  background: #DD5E89;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F7BB97, #DD5E89);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F7BB97, #DD5E89); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.bg-pattern-gradient{
  background: url('./public/bg-pattern.png');
}

.bg-tint {
  background: rgba(0,0,0,0.5);
}
